data/
.env
.ipynb_checkpoints/
cache/
.vector_cache/
*.png
__pycache__/
**/nohup.out
logs/
temp/
models/
ctg.egg-info/
temp/
lm_cache/
.conda/
eval/
human-eval/
*.zst?download=*
*.egg-info/
finetune/
finetune_csv/
reference/
output/
output2/
trunk/
tmp_results/
results/
code-contamination-output/